.container {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /*  max-width: 720px; */
  /*  min-height: 332px; */
  /*   overflow-y: auto; */
}

.item {
  background-color: red;
  display: flex;
  padding: 16px;
  position: relative;
  max-width: 25%;
  /*   flex-basis: 100%; */
  border-radius: 2px;
  flex-direction: column;
}

.SortableHelper {
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 6px, rgba(0, 0, 0, 0.075) 0px 1px 4px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: row-resize;
}
